  /* Global Styles */

  * {
    padding: 0;
    margin: 0;
  }

  body {
    width: 100%;
    height: 100vh;
    font-size: 14px;
    background: linear-gradient(rgba(128,199,239,1), rgba(89,35,206,1));
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }

  html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: Regular;
    
  }

  .container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .squarebg {
    width: min(95%, 600px);
    padding: 4rem 2rem;
    background: rgb(231, 232, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
  }

  ::placeholder{
    color: rgba(89,35,206,1);
    opacity: 50%;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    margin-bottom: 1rem;
    color: rgba(89,35,206,1);
  }
  
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
  
  input {
    border: 0.5px solid black;
    width: 80%;
    height: 2em;
    background-color: white;
    text-align: center;
    border-radius: 0.7rem; 
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: rgba(89,35,206,1);
    text-align: left;
    padding-left: 0.7em;
  }

  /* End of Global Styles */

  /* Login.js */

  .loginbody {
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-image: linear-gradient(rgba(128,199,239,1), rgba(89,35,206,1));
  }
  
  .button {
    border: none;
    background: rgba(89,35,206,1);
    border-radius: 0.7rem;
    padding: 0.85rem 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: thin; 
    font-size: 32px;
    color: rgba(128,199,239,1);
    border: 1px solid black;
    transition: all;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-duration: 0.15s;
    margin-bottom: 2rem;
  }
  
  .button:hover {
    background: rgb(60, 23, 141);
    color: rgba(128,199,239,1);
    cursor: pointer;
  }
  
  #loginPassword {
    margin-bottom: 2rem;
  }
  
  #noerror{
    opacity: 0;
  }
  
  #error{
    opacity: 1;
    color: red;
  }
  
  #success{
    opacity: 1;
    color: green;
  }

  /* End of Login.js */

  /* Registration.js */
  
  .registrationbody {
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-image: linear-gradient(rgba(128,199,239,1), rgba(89,35,206,1));
  }
 
  .button {
    border: none;
    background: rgba(89,35,206,1);
    border-radius: 0.7rem;
    padding: 0.85rem 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: thin; 
    font-size: 32px;
    color: rgba(128,199,239,1);
    border: 1px solid black;
    transition: all;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-duration: 0.15s;
    margin-bottom: 2rem;
  }
  
  .button:hover {
    background: rgb(60, 23, 141);
    color: rgba(128,199,239,1);
    cursor: pointer;
  }

  .passwordRequirements {
    width: 207px;
    color: rgba(0, 0, 0, 1);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: Regular;
    margin-bottom: 1rem;
    font-size: 20px;
    text-align: center;
  }

  /* End of Registration.js */

  /* LandingPage.js */

  .transitioncolor {
    position: absolute;
    
    -webkit-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
    -webkit-transition: background-position 0.5s linear;
    transition: background-position 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;    
  }

  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* ----- */
  
  .confession{
    display: flex;
    
  }
  
  .confessionFeed{
    flex:5.5;
    
  }

  .confessionFeedWrapper{
    padding: 20px;
    flex-direction: column;
    display: flex;
    height: 500px;
    overflow-y: auto;
  }

  .confessionPost{
    
    display: flex;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -8px rgb(0 0 0 / 68%);
    margin: 30px 0;
    align-self: center;
    justify-content: center;
    z-index: 1;
  }

  .confessionPostWrapper{
    padding: 10px;
    width: 66%;
  }

  .confessionPostEdit{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .confessionPostEditButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .confessionText{
    margin: 20px 0;
    overflow-wrap: break-word;
    max-width: 700px;
    text-align: center;
  }

  .confessionVotesComments{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .comments{
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  .votes{
    display: flex;
    align-items: center;
  }
  /* ----- */
  
  .LandingPageHeader {
  position: relative;
  width: 90%;
  height: 10%;
  left: 5%;
  top: 10%;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  -webkit-transition: background-position 0.5s linear;
  transition: background-position 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;   

  background-image: linear-gradient(180deg, #80C7EF 0%, #5A23CE 99.97%, rgba(90, 170, 216, 0.0701908) 99.98%, rgba(70, 24, 203, 0.921875) 100%);
  z-index: 1;
  }
  
  .LandingPageHeader .Text {
  position: flex;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 4vmin;
  line-height: 150%;
  
  display: flex;
  justify-content: center;
  text-align: center;
  
  color: #FFFFFF;
  
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .LandingPageHeader .Subtext {
  position: flex;
  
  font-weight: 600;
  font-size: 2.5vmin;
  line-height: 100%;
  }

  .LandingPageHeader-helper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: -1;
    
    opacity: 0;
    background: linear-gradient(180deg, #DE621C 0%, rgba(227, 19, 19, 0.921875) 100%);
    
    transition: opacity 0.5s linear;
  }
  
  .LandingPageHeader-NewColor {
    opacity: 0;
  }
  .LandingPageHeader-HotColor {
    opacity: 1;
  }
  
  /* ----- */
  
  .NewConfessionButton {
  box-sizing: border-box;
  
  position: absolute;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 8vmin;
  height: 8vmin;
  right: 8vmin;
  bottom: 8vmin;
  
  transition: all 0.35s;
  }
  
  .NewConfessionButton:hover {
  opacity: 1.0;
  }
  
  .NewConfessionButton .Text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 8vmin;
  line-height: 150%;
  color: white;
  
  mix-blend-mode: normal;
  }
  
  .NewConfessionButton .Text:hover {
  animation-name: rotate-by-90;
  animation-duration: 1000ms;
  animation-timing-function: ease-out 100ms;
  }
  
  .NewConfessionButton:active {
  transition: 0s;
  transform: translateY(1vmin);
  }

  .NewColor {
    border: 0.5vmin solid rgba(70, 24, 203, 0.9);
    border-radius: 100%;
    background: rgba(128,199,239,0.5);
  } 
  .NewColor:hover {
    background: rgba(128,199,239,0.75);
    transition: background-color 0.5s ease-in-out;
  }
  .HotColor {
    border: 0.5vmin solid rgba(167, 15, 15, 0.9);
    border-radius: 100%;
    background: rgba(222,98,28,0.5);
  }
  .HotColor:hover {
    background: rgba(222,98,28,1);
    transition: background-color 0.5s ease-in-out;
  }
  
  @keyframes rotate-by-90 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(90deg);
    }
  }
  
  /* ----- */
  
  .PageTip {
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  
  width: 40%;
  left: 30%;
  top: 20%;
  }
  
  .PageTip .Text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5vmin;
  line-height: 5vmin;
  display: flex;
  text-align: center;
  
  color: #BABABA;   
  }
  
  .PageTip .Line {
  width: 40vmin;
  height: 0px;
  display: flex;
  
  border: 2px solid #BABABA;
  }
  
  /* ----- */
  
  .Tools {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  top: 0;
  z-index: 999;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .Tools .NewConfessionsTool {
  width: 8vmin;
  height: 5vmin;
  position: absolute;
  left: 43%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  
  border: 3px solid #463bdd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25%;

  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  }
  
  .NewConfessionsTool .Text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3vmin;
  line-height: 4vmin;
  }
  
  .Tools .HotConfessionsTool {
  width: 8vmin;
  height: 5vmin;
  position: absolute;
  right: 43%;
 
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  
  border: 3px solid rgba(207, 15, 15, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25%;

  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  }
  
  .HotConfessionsTool .Text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3vmin;
  line-height: 4vmin;
  }

  .NewConfessionsTool-isHotState {
    background: rgba(70, 24, 203, 0.5);
    color: white;
  }
  .NewConfessionsTool-isNotHotState {
    background: white;
    color: #463bdd;
  }
  .HotConfessionsTool-isHotState {
    background: white;
    color: rgba(207, 15, 15, 0.9);
  }
  .HotConfessionsTool-isNotHotState {
    background: rgba(227, 19, 19, 0.5);
    color: white;
  }
  .NewConfessionsTool-isNotHotState:hover {
    transition: 0.2s;
    text-decoration: underline;
  }
  .HotConfessionsTool-isHotState:hover {
    transition: 0.2s;
    text-decoration: underline;
  }
  
  .ProfileContainer {
  display: flex;
  align-content: center;
  margin-left: 7%;
  }
  
  .ProfileContainer .TextName {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2vmin;
  line-height: 4vmin;
  color: white;
  
  flex: 5;
  left: 10%;
  top: 45%;
  
  text-shadow: 0px 0px 0px;
  }
  
  .ProfileTool {
  width: 7vmin;
  height: 7vmin;
  flex: 5;
  height: 50%;
  text-align: center;
  }
  
  .ProfileTool .Text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3vmin;
  line-height: 4vmin;
  color: white;
  
  text-shadow: 0px 0px 0px;
  }
  
  .Tools .NewConfessionsTool:active {
  transition: 0s;
  transform: translateY(1vmin);
  }
  
  .Tools .HotConfessionsTool:active {
  transition: 0s;
  transform: translateY(1vmin);
  }
  
  .ProfileTool:active {
  transition: 0s;
  transform: translateY(1vmin);
  }

  .toolsCenter{
    flex: 5;
    height: 50%;
  }
  /* End of LandingPage.js */

  /* Profile.js */
  
  .return {
    border: none;
    background: rgba(89,35,206,1);
    border-radius: 0.7rem;
    padding: 0.85rem 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: thin; 
    font-size: 32px;
    color: rgba(128,199,239,1);
    border: 1px solid black;
    transition: all;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-duration: 0.15s;
    margin: 2rem;
    
    float: left;
  }
  
  .return:hover {
    background: rgb(60, 23, 141);
    color: rgba(128,199,239,1);
    cursor: pointer;
  }

  .logout {
    border: none;
    background: rgb(220, 19, 19);
    border-radius: 0.7rem;
    padding: 0.85rem 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: thin; 
    font-size: 32px;
    color:  solid black;
    border: 1px solid black;
    transition: all;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-duration: 0.15s;
    margin: 2rem;
  }
  
  .logout:hover {
    background: rgb(164, 25, 25);
    color: solid rgb(28, 25, 25);
    cursor: pointer;
  }

  .popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
   
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }

  /* End of Profile.js */